.writing-prompt {
    background-color: gold;
    width: 100vw;
}
.prompt {
    width: 80%;
    margin: 0 auto;
    border: goldenrod solid 1px;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    height: 100px;
}

