//linking dependencies
@use '../../styles/partials/variable' as *;
@use '../../styles/partials/mixin' as *;
.navigation {
    display: flex;
    justify-content: space-between;
    background-color: $secondary-blue;
    margin-bottom: 2rem;

    &__list {
        height: 5rem;
        width: 106px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            width: 160px;
        }

        &:hover {
            background-color: $primary-blue;
        }
    }
}

.row-wrapper {
    display: flex;
}

.link {
    text-decoration: none;
    color: white;
}