//linking dependencies
@use '../../styles/partials/variable' as *;
@use '../../styles/partials/mixin' as *;

//including general style
@include button-style;
@include span;
.write {
    @include maximum-content-width;
    margin: 0 auto;

    &__title {
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            border-bottom: $purple 1px solid;
            width: 100%;
            bottom: 0;
            left: 0;
        }
    }
}

.write-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    @include tablet {
        width: 70%;
    }

    &__title {
        @include input;
    }

    &__content {
        @include input;
        height: 16rem;
        resize: vertical;
    }

}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column-reverse;

    @include tablet {
        flex-direction: row;
    }

}

.prompt-container {
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    @include bottom-border;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
        flex-direction: column;
    }
}

.send-wrapper {
    
    &__name {
        width: 100%;
        @include input;
        @include tablet {
            margin-right: 2rem;
            width: 40%;
        }
    }

    &__email {
        width: 100%;
        @include input;
        @include tablet {
            margin-right: 2rem;
            width: 40%;
        }
    }
}

.span--bold {
    font-weight: bold;
}

.button--lang {
    width: 30vw;

    @include tablet {
        width: 104px;
    }
}